%div.container-fluid

  -# Navbar
  %nav.row
    %div.col-sm-4.col-xs-12
      %div#logo
        %h1 ZS
    %ul.col-sm-8.col-xs-12.text-center#bar
      %li.col-xs-4
        %a.btn.btn-default Work
      %li.col-xs-4
        %a.btn.btn-default About
      %li.col-xs-4
        %a.btn.btn-default Contact
    %p I'd like to make this fixed and have the buttons light up when you're in their section. Smooth scrolling when you press the links. maybe animate it to get smaller like code jungle or whatever that website was.

  -# Banner
  %header.row.banner
    %h1.col-xs-12
      Hi! I'm Zak and I
      %i.fa.fa-heart{ "aria-hidden" => "true"}
      %span.sr-only love
      building things!
    %h1.col-xs-12 Front and backend developer, scientist, and enthusiast
    %h2.col-xs-12 Life science background, practically trained coder
    %p.col-xs-12 I care about efficient code, careful thought, and accessibility.
    %h2.col-xs-12 Ask me about my work
    %p.col-xs-12 maybe add a picture of myself here
    %section.col-xs-12#links
      .col-xs-12.text-center
        %p.sr-only Links:
      .col-xs-3.text-center
        %a{:href => "http://github.com/ZakStrassberg"}
          %i.fa.fa-github-alt.fa-4x{"aria-hidden" => "true", :title => "Github"}
          %span.sr-only Github
      .col-xs-3.text-center
        %a{:href => "http://linkedin.com/ZakStrassberg"}
          %i.fa.fa-linkedin.fa-4x{"aria-hidden" => "true", :title => "LinkedIn"}
          %span.sr-only LinkedIn
      .col-xs-3.text-center
        %a{:href => "http://twitter.com/ZakStrassberg"}
          %i.fa.fa-twitter.fa-4x{"aria-hidden" => "true", :title => "Twitter"}
          %span.sr-only Twitter
      .col-xs-3.text-center
        %a{:href => "mailto:zakstrassberg@gmail.com"}
          %i.fa.fa-envelope.fa-4x{"aria-hidden" => "true", :title => "Email"}
          %span.sr-only Email

  -# Main content
  %section.row#main
    %article.col-xs-12#skills
      %h1.text-center Skills

      -# Code
      %section.col-xs-12.col-md-6#code
        %h2.text-center Code
        %ul
          %li
            %h3 Training:
            %ul
              %li Coding Dojo
              %li Pica Design
              %li Zak Strassberg Design
              %li 10+ years of server administration
          %li
            %h3 Skills:
            %ul
              %li HAML, SASS, &amp; CoffeeScript
              %li Responsive design
              %li Python
              %li Ruby on Rails
              %li MEAN stack
              %li LaTeX
              %li Linux
              %li Vim &amp; NeoVim
              %li Photoshop &amp; Illustrator

      -# Science
      %section.col-xs-12.col-md-6#science
        %h2.text-center Science
        %ul
          %li
            %h3
              Stanford University
              %small (Apr 2014 - Jul 2016)
            %p Lab manager, research assistant, and animal technician in the lab of Dr. Ngan Huang.
            %p Focus on <em>in vivo</em> research; responsible for technical and regulatory documents, wrote scripts to automate work, heavily involved in lab management and hiring.
            %p Still employed part-time for technical expertise. Open invitation to come back to lab.
            %h4 Publications:
            %ul
              %li  Hadamitzky, Catarina, et al. "Aligned nanofibrillar collagen scaffolds–Guiding lymphangiogenesis for treatment of acquired lymphedema." Biomaterials (2016).
              %li Cai, Lei, et al. "Protein-Engineered Hydrogels for Improved Efficacy of Stem Cell-Based Injection Therapy in a Murine Model of Peripheral Arterial Disease." Circulation 132.Suppl 3 (2015): A15060-A15060.
            %p Is this a good place to put 2nd job with Rockson?
          %li
            %h3
              McGill University
              %small (Apr 2012 - Apr 2013)
            %p Research assistant
            %p Optimization for various protocols, including maximization of recombinant protein yield and development of autoinduction media for
          %li
            %h3
              Jackson Laboratories
              %small (Jan 2010 - May 2010, May 2011 - Aug 2011)


  -##########################
  -########## WORK ##########
  -##########################
  %section.row#work
    %article.col-xs-12
      %h2 Work (check to make sure this h2 tag matches)

    -##### DOTFILES #####
    %article.col-xs-6.col-md-4.col-xl-3
      %h3
        %a{:href => "http://github.com/zakstrassberg/dotfiles"}
          dotfiles repo
      %a{:href => "http://github.com/zakstrassberg/dotfiles"}
        %img.img-responsive.center-block{:src => "/images/dotfiles.png"}
      %p
        I maintain a github repository hosting my dotfiles. They are a work in progress
        (and probably will be so in perpetuity). Send me a message on github
        if you have any questions about my configs.

    -##### PORTFOLIO SRC #####
    %article.col-xs-6.col-md-4.col-xl-3
      %h3 Portfolio src
      %img.img-responsive{:src => "http://placehold.it/400x400"}
      %p
        The source code for this very website can be found above.
        It was coded in HAML + SASS and exported using the open source
        %a{:href => "http://get-serve.com/"}Serve
        gem.

    -### clearfix for xs and sm
    .clearfix.visible-xs-block.visible-sm-block

    -##### EXALTED ROLLER #####
    %article.col-xs-6.col-md-4.col-xl-3
      %h3
        %a{:href => "http://github.com/zakstrassberg/exalted-roller"}
          Node.js Dice Roller for Discord
      %a{:href => "http://github.com/zakstrassberg/exalted-roller"}
        %img.img-responsive.center-block{:src => "/images/exalted-roller.png"}
      %p
        I built a diceroller for Discord (a chat client) for one of my favorite tabletop RPGs, Exalted.
        The dice-rolling logic is written in javascript and it uses Node.js to connect to a discord server.
      %p
        It listens for messages starting with
        %code .roll
        , parses the message for parameters, and outputs the roll along with formatting and the number of successes.

    -### clearfix for md
    .clearfix.visible-md-block

    -##### CENTIPEDE #####
    %article.col-xs-6.col-md-4.col-xl-3
      %h3 Centipede
      %img.img-responsive{:src => "http://placehold.it/400x400"}
      %p I got bored and built Centipede to practice my javascript and canvas skills.

  -# about
  %section.row
    %article.col-xs-12.col-md-8#about
      -# About section (parsed from Markdown)
      %h1.text-center About
      :markdown
        I've always been intensely interested in the web. Growing up in rural Maine, the internet was a link to the rest of the world unlike anything I had ever encountered before. I cut my teeth in DC++ (an early peer-to-peer file sharing client) and before long I was running game servers and installing Linux in order to play with LAMP. Soon thereafter I discovered IRC and the rest is history.

        I became interested in Biology after an internship at The Jackson Laboratory, a world-class research facility. I would go on to major in Biology at McGill University, although my interest in technology never waned. During this time I continued to hone my technical skills, learning LaTeX and keeping up with new developments in web design.

        After graduating from McGill I spent time deciding what to do next. While volunteering for a lab at Boston University School of Medicine I discovered how fun and exciting coding is. I taught myself Python in a weekend and had a script ready for testing on Monday. Soon thereafter I was offered a position at Stanford University School of Medicine and joined the lab of Dr. Ngan Huang.

        After 2 years at Stanford I was ready for a change and decided to attend Coding Dojo. I wanted to learn new skills and take my entirely self-taught coding skills to the next level. Now I am looking for a job in the tech industry. I am a quick study, a hard worker, and a self-motivated individual.

    -# Contact
    %article.col-xs-12.col-md-4#contact
      %h1.text-center Contact
      %p Zak Strassberg
      :javascript
        //<![CDATA[
        <!--
        var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){y%=127;o+=St" +
        "ring.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"\\035\\t\\023\\035t" +
        "hmm$c.\\177!r|j~-g#\\177,018zz*`7v~rzjw\\014M\\037LH\\036QOAEO\\003T\\003MG" +
        "QCq\\\\PPwC\\020U\\025\\n\\017\\024\\037\\002ysk807?<0bw3w!er<j/05!5?p<s ! " +
        "80\\022I\\013^\\010HW\\\\\\001WW[W\\004CBY\\n\\035XI\\rX\\024\\020\\030\\01" +
        "0:\\010U\\027):\\177qaqsuf)e%\\177xl|dc:#8zz>#d|3>4&)\\014}\\000\\026\\026\\"+
        "025z{\\035\\032\\032wp\\032\\034\\037lm\\000\\003\\004ij\\007\\t\\tfg\\013\\"+
        "017\\016c\\034\\010rrt\\031\\032u{y\\026\\027\\014\\004}\\177`\\r\\016\\035" +
        "\\034\\024$\\014{g\\035lkl\\002\\003\\024Y\\031TST:;\\034\\020\\034Y\\022\\" +
        "tA\\n\\036\\024\\025:_!L\\024\\021\\t\\020\\r]!\\\\\\\\]^!XY658UV8>=RS \\\"" +
        "\\\"OHA#%(EF*.-BC\\026\\023\\022\\177x\\026\\025\\027tu\\030\\031\\034qr\\0" +
        "33\\004\\003\\002oh\\005\\006\\007de\\016\\t\\014ab\\rrq\\036\\037pvv\\033\\"+
        "024|y{\\020\\021z~`\\r\\016ege\\n\\013ojj\\007\\000lmo<=PST9:\\02345_X\\\\1" +
        "23,-.\\035()FEH%&LMM\\\"\\\\233XY678UVyPQs= !NOt/(?)a,qka#!\\024\\005\\004\\"+
        "037\\036G\\031\\003\\004\\014\\030\\016\\006\\rr\\r\\030WO\\010[\\025XEMM_I" +
        "A\\006\\027\\026kj;k\\032l/o<\\010//#\\016<.82|+|028\\033+;3\\03701-\\006O\\"+
        "005\\r\\r\\027\\0224UB\\005P[__RU\\010IAI_\\017^Q\\000QCJU@i)dj\\177,-,a2f7" +
        "e6>2y9`|r.~c\\177w\\177w2e#s\\014}\\000\\177\\006\\030I\\013A\\tXJZV\\007V\\"+
        "034I\\032U\\024[Y^LZTNZ\\037\\027\",123)"                                    ;
        while(x=eval(x));
        //-->
        //]]>
      %p 909 257 8727
