/*
Error: File to import not found or unreadable: compass.
       Load paths:
         Compass::SpriteImporter
         /home/strass/projects/zakstrassberg.com/public/stylesheets/sass
         /home/strass/projects/zakstrassberg.com/stylesheets
         /home/strass/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets
        on line 4 of ./stylesheets/screen.sass

1: @import 'variables.scss'
2: // @import "font-awesome-sprockets"
3: @import "fontawesome/font-awesome"
4: @import "compass"
5: // @import "../sass/_typography"
6: 
7: 
8: 
9: nav.row

Backtrace:
./stylesheets/screen.sass:4
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:45:in `import'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin.rb:54:in `check_for_updates'
/home/strass/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/rack.rb:51:in `call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/lint.rb:49:in `_call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/lint.rb:37:in `call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/showexceptions.rb:24:in `call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/commonlogger.rb:33:in `call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/chunked.rb:43:in `call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/content_length.rb:14:in `call'
/home/strass/.rvm/gems/ruby-2.3.0/gems/rack-1.5.5/lib/rack/handler/webrick.rb:60:in `service'
/home/strass/.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/webrick/httpserver.rb:140:in `service'
/home/strass/.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/webrick/httpserver.rb:96:in `run'
/home/strass/.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/webrick/server.rb:296:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: compass.\A        Load paths:\A          Compass::SpriteImporter\A          /home/strass/projects/zakstrassberg.com/public/stylesheets/sass\A          /home/strass/projects/zakstrassberg.com/stylesheets\A          /home/strass/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets\A         on line 4 of ./stylesheets/screen.sass\A \A 1: @import 'variables.scss'\A 2: // @import \"font-awesome-sprockets\"\A 3: @import \"fontawesome/font-awesome\"\A 4: @import \"compass\"\A 5: // @import \"../sass/_typography\"\A 6: \A 7: \A 8: \A 9: nav.row"; }
